body {
    box-sizing: border-box;
    font-family: 'Arial', Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("Updated\ Picture/Assets/Background.png");
    background-size: cover;
    background-attachment: fixed;
    filter: blur(4px) saturate(0.7); /* Slightly increase the saturation */
    z-index: -1; /* This ensures it stays behind the content */
}

.main-menu-container {
    display: flex; /* Enable flexbox */
    flex-direction: row; /* Arrange children in a row */
    justify-content: space-between; /* Space out the children */
    align-items: stretch; /* Make children stretch to the same height */
    gap: 16px; /* Optional: add spacing between the sections */
    width: 100vw; /* Ensure it spans full width */
    height: 100vh; /* Adjust based on your layout needs */
}

ul{
    list-style: none;
    color: black;
    text-decoration: none;
    margin-top: -50px;
}

li{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 60px;
}

a{
    text-decoration: none;
    cursor: pointer;
    /* color: aliceblue; */
}

.left-side-container {
    flex: 1; /* Adjustable width for the left side */
    /* border: 1px solid white; */
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.trash-dash-img-container{
    margin-top: 20px;
    width: 100%;
    height: 60%;
    /* overflow: hidden; */
    position: relative; /* Keeps the container's positioning consistent */
    /* border: 1px solid black; */
}


.trash-dash-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
    transition: all 0.1s ease-in-out; /* Smooth transition for hover effects */
}

.trash-dash-img-container img:hover{
    transform: scale(1.11);
    transition: transform 0.3s ease;
}

.trash-dash-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}
.trash-dash-buttons-container button {
    color: rgb(91, 45, 0);
    padding: 15px 140px;
    margin: 15px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    border-radius: 75px;
    border: 4px solid rgb(91, 45, 0);
    background-color: #ffb01e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all 0.2s ease; /* Smooth transition for hover effects */
}

.trash-dash-buttons-container button:hover {
    color: white; /* Changes the text color on hover */
    background-color: #c2732e; /* Darker orange background on hover */
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px; /* Deeper shadow for 3D effect */
    border-color: #ffffff; /* Changes the border color on hover */
}

.slider img{
    height: 35px;
    width: 50px;
}

.slider{
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-block;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    align-items: center;
    position: relative;
    justify-content: center; 
    align-items: center;
    margin: 5px;
}

/* Right Side */

.cheat-sheet-container {
    flex: 1; /* Adjustable width for the right side */
    padding: 20px;
    /* border: 1px solid white; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions-container{
    padding: 30px;
    padding-top: 0px;
    height: 150px;
    background-color: #ffb01e;
    border: 4px solid rgb(91, 45, 0);
    border-radius: 20px;
    box-shadow: 3px 3px 0px rgb(91, 45, 0);
    /* border: 1px solid white; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions-container h3 {
    /* border: 1px solid white; */
    font-size: 22px;
    font-family: 'Novita', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:  rgb(91, 45, 0);
}

.instructions-container p {
    margin: 0;
    padding: 2px;
    display: flex;
    font-size: 18px;
    font-family: 'Novita', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  rgb(91, 45, 0);
}


/* border: 4px solid rgb(91, 45, 0);
    background-color: #ffb01e; */

.cheat-sheet-title{
    display: flex;
    width: 80%;
    height: 46px;
    justify-content: center;
    align-items: center;
    background-color: #ffb01e;
    border: 4px solid rgb(91, 45, 0);
    border-radius: 5px;
    box-shadow: 3px 3px 0px rgb(91, 45, 0);
    transition: all 0.1s ease-in-out; /* Smooth transition for hover effects */
}

.cheat-sheet-title:hover{
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0px rgb(91, 45, 0);
}

.cheat-sheet-text {
    font-size: 22px;
    font-family: 'Novita', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:  rgb(91, 45, 0);
}

.trash-categories-container {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 240px 240px; /* 2 equal rows */
    width: 90%;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    min-width: 600px;
    margin-top: 20px;
    /* border: 1px solid black; */
    gap: 20px; /* Adds space between the grid items */
}

.trash-category {
    height: 98%;
    width: 98%;
    background: radial-gradient(circle, #f0c9a9, #ffb01e); /* Light gradient from one color to another */
    border: 4px solid rgb(91, 45, 0);
    border-radius: 20px;
    box-shadow: 3px 3px 0px rgb(91, 45, 0);
    transition: all 0.1s ease-in-out; /* Smooth transition for hover effects */
}

.trash-category:hover{
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0px rgb(91, 45, 0);
}


.text{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Novita', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:  rgb(91, 45, 0);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
} 

.img-container img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-top: -50px;
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}


input[type="range"] {
    -webkit-appearance: none; 
    appearance: none; 
    width: 240px; 
    height: 30px; 
    background-color: #CDAD7D;
    border-radius: 10px; 
    border: 1px solid #8a651b;
    outline: none; 
    overflow: hidden; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 15px; 
    height: 25px; 
    background-color: #CDAD7D;
    border-radius: 10%; 
    border: 1px solid #8a651b; 
    cursor: pointer; 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #CDAD7D;
    border-radius: 50%;
    border: 1px solid #8a651b;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #CDAD7D;
    border-radius: 50%;
    border: 1px solid #8a651b;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 25px;
    background-color: #CDAD7D;
    border-radius: 10px;
    border: 1px solid #8a651b;
}

input[type="range"]::-moz-range-track {
    height: 15px;
    background-color: #CDAD7D;
    border-radius: 10px;
    border: 1px solid #8a651b;
}
 
input[type="range"]::-ms-track {
    height: 15px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}