body {
    box-sizing: border-box;
    font-family: 'Nunito', Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    position: relative;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 2px solid #333; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("Updated\ Picture/Assets/Background.png");
    background-size: cover;
    background-attachment: fixed;
    filter: blur(4px) saturate(0.7); /* Slightly increase the saturation */
    z-index: -1; /* This ensures it stays behind the content */
}

.main-container {
    height: 95vh;
    max-width: 1200px; /* Optional: Set a maximum width for larger screens */
    text-align: center;
    padding: 10px;
    /* border: 2px solid #333; */

    display: flex;
    flex-direction: column;
}

/* Container for title and score */
.title-and-score-container {
    display: flex; /* Use Flexbox to align items horizontally */
    flex-direction: row;
    justify-content: space-between; /* Space items out, with the title on the left and score on the right */
    align-items: center; /* Vertically center the items */
    padding: 10px; /* Optional: Padding for spacing */
    background-color: #f7f0cb;
    border: 3px solid rgb(91, 45, 0);
    border-radius: 10px;
    box-shadow: 4px 4px 0px rgb(91, 45, 0);
}

/* Styling for the score */
.score-container{
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
}

.score-container h3 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-start;
    margin: 5px; /* Remove default margin from the score */
}


.timer-life-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid black; */
    padding: 0px 5px;
    width: 60%;
    height: 80px;
}

.hearts {
    display: flex;
    gap: 5px;
    margin: 0;
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex; /* Ensure content inside is flexible */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevent overflow if the image doesn't match aspect ratio */
}

.hearts img {
    width: 25%;
    object-fit: cover; /* Ensure the image covers the container without distortion */
    object-position: center; /* Center the image within the container */
    /* border: 1px solid black; */
}

.timer-life-container p {
    /* border: 1px solid black; */
    margin: 2px;
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px;
}

#countdown {
    font-weight: 900;
}


.pause-button {
    background-image: url("Updated Picture/Assets/paused.png");
    display: inline-block;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 55px; 
    height: 55px; 
    cursor: pointer;
    margin: 5px;
    border-radius: 7.5px;
    border:  2px solid #333; ;
}

.pause-button:hover {
    transform: scale(1.1); 
    border:  4px solid rgb(194, 112, 19); ;
    transition: transform 0.2s ease; 
}

/* Styling for the title */
/* .title-and-score-container h2 {
    margin: 0; /* Remove default margin from the title */
    /* border: 1px solid black;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 75px;
    border: 4px solid rgb(91, 45, 0);
    background-color: #ffb01e;
} */
 
/* Trash bins container */
.trash-bins-container {
    height: 50%;
    display: flex; /* Align the bins in a row */
    justify-content: space-around; /* Space the bins evenly */
    align-items: center; /* Center bins vertically within the row */
    margin: 5px;
    background: rgba(0,0,0,0); /*background*/
    object-fit: contain;
    /* border: 1px solid black; */
    padding: 5px;
}

/* Base styles for all trash bins */
.trash-bin {
    width: 30%; /* Set width to 30% of the container */
    height: 100%; /* Set a fixed height for the bins */
    display: flex; /* For centering content inside */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    overflow: hidden; /* Hide any overflow */
}

/* Drag Effect for bins*/
.trash-bin-1 img.dragging-over, 
.trash-bin-2 img.dragging-over,
.trash-bin-3 img.dragging-over,
.trash-bin-4 img.dragging-over {
    transform: scale(1.1);
}

/* Individual colors */
.trash-bin-1 img,
.trash-bin-2 img,
.trash-bin-3 img,
.trash-bin-4 img {
    object-fit: contain;
    width: 100%;
    height: 100%; /* Ensure image fits within the container */
    max-width: 100%;
    max-height: 100%; /* Prevent image from overflowing */
}

.unsorted-items-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 5 columns */
    /* grid-template-rows: repeat(2, 1fr); */
     /* 2 rows */
    gap: 10px; /* Adjust spacing between items */
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    z-index: 0%;
    background-color: rgba(247, 240, 203, 0.6);
    border: 5px solid rgb(91, 45, 0);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.unsorted-item img {
    width: 100%; /* Set the width of each image */
    height: auto; /* Set the height of each image */
    object-fit: contain; /* Ensure images maintain their aspect ratio */
    filter: drop-shadow(8px 8px black);
}

.unsorted-item img:hover {
    transform: scale(1.2);
}
.bin-effect{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.bin-effect.show {
    display: flex;
    opacity: 1;
}

.correct-content, .wrong-content{
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pause-pop-up{
    background-image: url('Updated Picture/Assets/trashdash.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
} 
.pause-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 40px; 
    padding: 0;
    margin-top: 10%;
}


.restart {
    background-image: url("Updated Picture/Assets/restart.png");
}

.close-btn {
    background-image: url("Updated Picture/Assets/play.png");
}

.menu {
    background-image: url("Updated Picture/Assets/main_menu.png");
}

.close-btn{
    display: inline-block;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 125px; 
    height: 125px; 
    cursor: pointer; 
}

.restart, .menu {
    display: inline-block;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px; 
    height: 100px; 
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.1); 
    background-image: url("Updated Picture/Assets/play-hover.png");
    transition: transform 0.2s ease; 
}

.restart:hover {
    transform: scale(1.1); 
    background-image: url("Updated Picture/Assets/restart-hover.png");
    transition: transform 0.2s ease; 
}

.menu:hover {
    transform: scale(1.1); 
    background-image: url("Updated Picture/Assets/main_menu-hover.png");
    transition: transform 0.2s ease; 
}

.restart img, .close-btn img, .menu img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.pause-content > .restart, 
.pause-content > .close-btn, 
.pause-content > .menu {
    margin-top: 20px; 
} 

.button{
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    align-items: flex-end;
}

.slider img{
    height: 6%;
    width: 6%;
}

.slider{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.slider{
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-block;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    align-items: center;
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none; 
    appearance: none; 
    width: 400px; 
    height: 30px; 
    background: linear-gradient(to right, #d4b15b, #b4924e); 
    border-radius: 10px; 
    border: 1px solid #8a651b;
    outline: none; 
    overflow: hidden; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 15px; 
    height: 25px; 
    background: #d4b15b; 
    border-radius: 10%; 
    border: 1px solid #8a651b; 
    cursor: pointer; 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #d4b15b;
    border-radius: 50%;
    border: 1px solid #8a651b;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #d4b15b;
    border-radius: 50%;
    border: 1px solid #8a651b;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 25px;
    background: linear-gradient(to right, #d4b15b, #b4924e); 
    border-radius: 10px;
    border: 1px solid #8a651b;
}

input[type="range"]::-moz-range-track {
    height: 15px;
    background: linear-gradient(to right, #d4b15b, #b4924e); 
    border-radius: 10px;
    border: 1px solid #8a651b;
}
 
input[type="range"]::-ms-track {
    height: 15px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* Score Cards */
.final-score-card-container {
    /* border: 1px solid black; */
}

#gameOverContainer {
    position: absolute;
    display: none;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    width: 100%; 
    max-width: 1200px; 
  }

#gameOverChild {
    background-image: url('Updated Picture/Assets/gameover_bg.png');
    width: 800px; 
    height: 800px; 
    background-image: url('Updated Picture/Assets/gameover_bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: 100;
  }

#reset {
    background-image: url("Updated Picture/Assets/restart.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60%;
    width: 150px; 
    height: 150px; 
    border: none;
    cursor: pointer;
}
#return {
    background-image: url("Updated Picture/Assets/testtttttttttt.png ");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25%;
    width: 150px; 
    height: 150px; 
    border: none;
    cursor: pointer;
}

#addOpacity {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


#finalScoreContainer {
    position: absolute;
    display: none;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    width: 100%; 
    max-width: 1200px; 
  }

#finalScoreChild {
    background-image: url('Updated Picture/Assets/final.png');
    width: 800px; 
    height: 800px; 
    background-image: url('Updated Picture/Assets/final.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: 100;
  }

  #reset1 {
    background-image: url("Updated Picture/Assets/restart.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60%;
    width: 150px; 
    height: 150px; 
    border: none;
    cursor: pointer;
}
#return1 {
    background-image: url("Updated Picture/Assets/testtttttttttt.png ");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25%;
    width: 150px; 
    height: 150px; 
    border: none;
    cursor: pointer;
}
  